<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKeDuekk7DnvxcbftfMhC9f9bkx8FTAlU</string>
	<key>GCM_SENDER_ID</key>
	<string>732669686611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.topychmobile</string>
	<key>PROJECT_ID</key>
	<string>topic-romanov</string>
	<key>STORAGE_BUCKET</key>
	<string>topic-romanov.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732669686611:ios:7c86098d0f9db04a63e7a6</string>
</dict>
</plist>